BD_NOMBRE=nombreBD
BD_USER=userBD
BD_PASS=secret
BD_HOST=localhost
BD_PORT=3306

HOST=

# Credenciales twitter
consumer_key: 'aaaaaaaaaaaaaaaaaaaa',
consumer_secret: 'bbbbbbbbbbbbbbbbbbbb',
access_token: 'cccccccccccccccccccccccc',
access_token_secret: 'ddddddddddddddddddd',