<h1>
    <i class="ri-chat-quote-fill"></i>Blogger</h1>
<form id="formBlogger" method="POST" action="/blogger">
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Ingresa la publicacion : </label>
        <textarea class="form-control" id="newMessageBlogger" rows="3" name="texto"></textarea>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Publicar en blogger</button>
    </div>
</form>
<br>
<input type="text" class="form-control" id="searchBlogger" aria-describedby="emailHelp" placeholder="Buscar en mi blogger">
<br>
<div class="col-auto">
    <button id="dameBloggerButton" type="submit" class="btn btn-success mb-3">Buscar en mi blogger</button>
</div>

<ul id="outputBlogger"></ul>