<h1>
    <i class="ri-facebook-circle-fill"></i>Facebook</h1>
<form id="mesSenderFace" method="POST" action="/facebook">
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Ingresa la publicacion : </label>
        <textarea class="form-control" id="newMessageFace" rows="3" name="texto"></textarea>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Publicar en facebook</button>
    </div>
</form>
<br>
<input type="text" class="form-control" id="searchFace" aria-describedby="emailHelp" placeholder="Buscar en facebook">
<br>
<div class="col-auto">
    <button id="getFacebook" type="submit" class="btn btn-success mb-3">Buscar en facebook</button>
</div>

<ul id="outputFace"></ul>