<h1>
    <i class="ri-instagram-line"></i> Instagram</h1>
<form id="mesSenderIG">
    <!-- <textarea style="margin-left: 100px;" id="newMessage" rows="4"></textarea> -->
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Ingresa el posteo : </label>
        <textarea class="form-control" id="newMessageIG" rows="3"></textarea>
    </div>
    <!-- <button style="margin-left: 100px;" type="submit">Post of Twitter</button>
     -->
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Publicar en instagram</button>
    </div>
</form>
<br>
<input type="text" class="form-control" id="searchIG" aria-describedby="emailHelp" placeholder="Buscar IG">
<!-- <input type="text" id="search" value="" placeholder="Search Term"> -->
<!-- <button id="getTweets">Search Tweets</button> -->
<br>
<div class="col-auto">
    <button id="getInstagram" type="submit" class="btn btn-success mb-3">Buscar en instagram</button>
</div>

<ul id="output"></ul>