<h1>
    <i class="ri-spotify-line"></i> Spotify
</h1>
<br>
<input type="text" class="form-control" id="search" aria-describedby="emailHelp" placeholder="Buscar en spotify">
<br>
<div class="col-auto">
    <button id="getSpotify" type="button" class="btn btn-success mb-3">Buscar en Spotify</button>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div id="outputSpotify"></div>
        </div>
    </div>
</div>

<br><br>