<h1>
    <i class="ri-spotify-line"></i> Spotify
</h1>
<br>
<input type="text" class="form-control" id="search" aria-describedby="emailHelp" placeholder="Buscar en spotify">
<br>
<div class="col-auto">
    <button id="getSpotify" type="button" class="btn btn-success mb-3">Buscar en Spotify</button>
</div>

<div id="datah2"><h2></h2></div>

<ul id="outputSpotify"></ul>

<script>

$( document ).ready(function() {
    var data = [
    { id: 1, name: "bob" },
    { id: 2, name: "john" },
    { id: 3, name: "jake" },
];

JSON.stringify(data)

console.log('data es',data);

// const datah2 = document.getElementById('datah2');

// for(data at datas){
//     $("div#datah2").html(datas)
// }

for (i = 0; i < data.length; i++) {
    console.log('data[i].id es',data[i].id);
//   $("div#datah2").html(data[i].id)
// Ir creando nuevas tarjetas
}


});


</script>