<form id="mesSender">
    <textarea style="margin-left: 100px;" id="newMessage" rows="4"></textarea>
    <br>
    <button style="margin-left: 100px;" type="submit">Post of Twitter</button>
</form>
<br>
<input type="text" id="search" value="" placeholder="Search Term">
<button id="getTweets">Search Tweets</button>
<ul id="output"></ul>