<h1>
    <i class="ri-global-line"></i>Wikipedia</h1>
<form id="mesSenderWiki">
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Ingresa el posteo wiki : </label>
        <textarea class="form-control" id="newMessageWiki" rows="3"></textarea>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Postear en wikipedia</button>
    </div>
</form>
<br>
<input type="text" class="form-control" id="searchWiki" aria-describedby="emailHelp" placeholder="Buscar Wiki">
<br>
<div class="col-auto">
    <button id="getWiki" type="submit" class="btn btn-success mb-3">Buscar en wikipedia</button>
</div>

<ul id="outputWiki"></ul>